@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* MUI DATA GRID ...  */
.MuiDataGrid-columnHeader{
  background-color: #F0C819;
  color: black !important;
  border-right: 2px solid;
  border-color: white;
}
/* mui table header title css  */
.MuiDataGrid-columnHeaderTitle{
  color:black !important;
}
/* data grid bg */
.MuiDataGrid-filler{
  
}
.MuiSvgIcon-root{
  color: white;
}
.MuiDataGrid-columnHeaders .MuiSvgIcon-root{
  color: black;
}
/* t body cell border left */
.MuiDataGrid-cell{
  border-right: 2px solid;
  border-color: white;
  cursor: pointer;
}


.MuiDataGrid-footerContainer{
  display: none !important;
} 

.selected-row {
  background-color: grey !important;
}
.green-row {
  background-color: green !important;
}
.blue-row{
  background-color: blue;
}
.red-row{
  background-color: rgb(255, 0, 0);
}
.red-row:hover {
  background-color: red !important;
}